@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --primary-color: #06989a; /* Purple */
  --secondary-color: #06a4a720; /* Light purple */
  --accent-color: #ff5733; /* Red */
  --background-color: #ffffff; /* Light grey */
  --text-color: #333939; /* Dark grey */
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.Inputs:focus ~ label {
  font-size: 10px;
  top: -10px;
}

.dropDown {
  animation: move 0.1s ease-in-out;
}
.customScroll {
  overflow: auto;
}

.customScroll::-webkit-scrollbar {
  width: 12px;
}

.customScroll::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.customScroll::-webkit-scrollbar-thumb {
  background-color: #b7b7b7;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

.customScroll::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes move {
  0% {
    transform: translatey(20px);
    opacity: 0;
  }
  100% {
    transform: translatey(0);
    opacity: 1;
  }
}

@keyframes dots {
  0%,
  100% {
    transform: scale(0.5);
    opacity: 0.3;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-dots {
  animation: dots 1.2s infinite ease-in-out;
}

.LaptopFrame {
  background-image: url("../Assets/Images/laptopFrame1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 800px 400px;
  width: 800px;
  height: 400px;
  padding: 18px 13px;
  overflow: hidden;
  transform: scale(0.8);
  transform-origin: top left;
  border-radius: 7px 7px 0px 0px;
}
.MobileFrame {
  width: 300px;
  height: 440px;
  padding: 10px 12px;
  overflow: hidden;
  transform: scale(0.73);
  transform-origin: top left;
}
.MobileFrameCover {
  width: 300px;
  height: 440px;
  padding: 18px 13px;
  overflow: hidden;
  transform: scale(0.73);
  position: absolute;
  top: 0;
  transform-origin: top left;
  background-image: url("../Assets/Images/mobileFrame1.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100;
  background-size: 300px 440px;
  pointer-events: none;
}
.bgImageI {
  width: 650px;
  overflow: hidden;
}
