@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-color: #0078D4;
  --secondary-color: rgb(235, 245, 253);
  --accent-color: #ff5733;
  --background-color: #ffffff;
  --text-color: #333333e8;
  --border-color: #dadce0;
  --light-text-color: #5f6571bc;
  --light-background-color: #4285f40a;
}

:root {
  --tmp-pri: #FFFFFF;
  /* Primary Color */
  --tmp-sec: #121212;
  /* Secondary Color */
  --tmp-acc: #F3F3F3;
  /* Accent Color */
  --tmp-txt: #121212;
  /* Text Color */
  --tmp-ltxt: #515357;
  /* Light Text Color */
  --tmp-wtxt: #e6e6e6;
  /* Light Text Color */
}

.cartButton:hover span {
  color: #eab308;
}

label {
  line-height: 18px !important;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.Inputs:focus~label {
  font-size: 12px !important;
  top: -10px !important;
  background-color: var(--background-color);
}

.dropDown {
  animation: move 0.1s ease-in-out;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes move {
  0% {
    transform: translatey(20px);
    opacity: 0;
  }

  100% {
    transform: translatey(0);
    opacity: 1;
  }
}

.customScroll {
  overflow: auto;
}

.customScroll::-webkit-scrollbar {
  width: 2.5px;
  height: 2.5px;
}

.customScroll::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0px;
}

.customScroll::-webkit-scrollbar-thumb {
  background-color: #b9b9b9;
  border-radius: 10px;
  border: 0px solid #f1f1f1;
}

.customScroll::-webkit-scrollbar-thumb:hover {
  background-color: #a5a4a4;
}

.LaptopFrame {

  width: 1274px;
  height: 700px;
  padding: 11px 10px;
  overflow-x: hidden;
  overflow-y: auto;
  /* transform: scale(0.5);
  transform-origin: top left; */
  border-radius: 7px 7px 0px 0px;
  /* background-color: white; */
  /* pointer-events: none; */
  cursor: not-allowed;
}

.LaptopFrame iframe {
  transform-origin: top left;
  transform: scale(0.50);
  width: 100%;
  height: 100%;
  border: none;
}

.MobileFrame {
  width: 400px;
  height: 640px;
  padding: 7px 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

.MobileFrame iframe {
  transform-origin: top left;
  transform: scale(0.55);
  width: 100%;
  height: 100%;
  border: none;
}

.LaptopFrameCover {
  width: 800px;
  height: 400px;
  padding: 18px 13px;
  overflow: hidden;
  transform: scale(0.8);
  position: absolute;
  top: 0;
  transform-origin: top left;
  background-image: url("../Assets/Images/laptopFrame1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 800px 400px;
  z-index: 1;
  pointer-events: none;
}

.MobileFrameCover {
  width: 300px;
  height: 440px;
  padding: 18px 13px;
  overflow: hidden;
  transform: scale(0.73);
  position: absolute;
  top: 0;
  transform-origin: top left;
  background-image: url("../Assets/Images/mobileFrame1.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  background-size: 300px 440px;
  pointer-events: none;
}

input:-webkit-autofill {
  transition: background-color 9999s ease-in-out 0s, color 9999s ease-in-out 0s;
}

@keyframes expandWidth {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.animate-expand {
  animation: expandWidth 0.3s ease-in forwards;
}

@keyframes expandWidth2 {
  0% {
    width: 25px;
    height: 25px;
    visibility: hidden;
    opacity: 0.5;
  }

  100% {
    width: 25px;
    height: 25px;
    visibility: visible;
    opacity: 1;
  }
}

.animate-expand2 {
  animation: expandWidth2 0.3s ease-out forwards;
}

.abc {
  background: linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 3px) calc(100% - 3px) no-repeat,
    linear-gradient(177deg, #d33479 0%, rgba(197, 52, 180, 1) 26%, rgba(115, 52, 199, 1) 75%, #7334d3 100%);
}




.ql-toolbar.ql-snow {
  border: none !important;
  border-bottom: 1px solid var(--primary-color) !important;
  background-color: var(--secondary-color) !important;
}

.ql-toolbar .ql-stroke {
  stroke: var(--primary-color) !important;
  /* Yellow stroke for SVG icons */
}

.ql-toolbar .ql-fill {
  fill: var(--primary-color) !important;
  /* Yellow fill for filled icons */
}

.ql-toolbar .ql-picker-label {
  color: var(--primary-color) !important;
  /* Yellow fill for filled icons */
}



.branch {
  position: relative;
  /* margin-top: 10px; */
}

.branch::before {
  content: '';
  position: absolute;
  top: -25px;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  width: 2px;
  height: calc(100% - 23px);
  background: var(--primary-color);
}

.child {
  position: relative;
  margin: 0px 0px;
  padding-left: 70px;
}

.child::before {
  content: '';
  position: absolute;
  top: -36%;
  left: 0;
  width: 22px;
  height: 40px;
  border-left: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  border-bottom-left-radius: 13px;
}

.customShadow {
  box-shadow: 0 2px 3px 1px rgba(130, 127, 127, 0.103);
}

.countdown-box {
  @apply text-textC rounded-md py-1 px-1.5 flex justify-center items-center text-[15px] font-semibold shadow-[inset_0_0px_4px_0_rgb(0_0_0_/_0.2)];
}

