@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-color: #0078D4;
  --secondary-color: rgb(235, 245, 253);
  --accent-color: #ff5733;
  --background-color: #ffffff;
  --text-color: #333333e8;
  --border-color: #dadce0;
  --light-text-color: #5f6571bc;
  --light-background-color: #4285f40a;
}

:root {
  --tmp-pri: #FFFFFF;
  /* Primary Color */
  --tmp-sec: #121212;
  /* Secondary Color */
  --tmp-acc: #F3F3F3;
  /* Accent Color */
  --tmp-txt: #121212;
  /* Text Color */
  --tmp-ltxt: #515357;
  /* Light Text Color */
  --tmp-wtxt: #e6e6e6;
  /* Light Text Color */
}

button,
input,
textarea,
select {
  font-family: inherit !important;
}

.cartButton:hover span {
  color: #eab308;
}

label {
  line-height: 18px !important;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.dropDown {
  animation: move 0.1s ease-in-out;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes move {
  0% {
    transform: translatey(20px);
    opacity: 0;
  }

  100% {
    transform: translatey(0);
    opacity: 1;
  }
}

.customScroll {
  overflow: auto;
}

.customScroll::-webkit-scrollbar {
  width: 2.5px;
  height: 2.5px;
}

.customScroll::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0px;
}

.customScroll::-webkit-scrollbar-thumb {
  background-color: #b9b9b9;
  border-radius: 10px;
  border: 0px solid #f1f1f1;
}

.customScroll::-webkit-scrollbar-thumb:hover {
  background-color: #a5a4a4;
}

.hideScroll {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.hideScroll::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.LaptopFrame {

  width: 1274px;
  height: 700px;
  padding: 11px 10px;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 7px 7px 0px 0px;
  cursor: not-allowed;
}

.LaptopFrame iframe {
  transform-origin: top left;
  transform: scale(0.50);
  width: 100%;
  height: 100%;
  border: none;
}



.MobileFrame {
  width: 400px;
  height: 640px;
  padding: 7px 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

.MobileFrame iframe {
  transform-origin: top left;
  transform: scale(0.55);
  width: 100%;
  height: 100%;
  border: none;
}

.LaptopFrameCover {
  width: 800px;
  height: 400px;
  padding: 18px 13px;
  overflow: hidden;
  transform: scale(0.8);
  position: absolute;
  top: 0;
  transform-origin: top left;
  background-image: url("../Assets/Images/laptopFrame1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 800px 400px;
  z-index: 1;
  pointer-events: none;
}


.MobileFrameCover {
  width: 300px;
  height: 440px;
  padding: 18px 13px;
  overflow: hidden;
  transform: scale(0.73);
  position: absolute;
  top: 0;
  transform-origin: top left;
  background-image: url("../Assets/Images/mobileFrame1.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  background-size: 300px 440px;
  pointer-events: none;
}

input:-webkit-autofill {
  transition: background-color 9999s ease-in-out 0s, color 9999s ease-in-out 0s;
}

@keyframes expandWidth {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.animate-expand {
  animation: expandWidth 0.3s ease-in forwards;
}

@keyframes expandWidth2 {
  0% {
    width: 25px;
    height: 25px;
    visibility: hidden;
    opacity: 0.5;
  }

  100% {
    width: 25px;
    height: 25px;
    visibility: visible;
    opacity: 1;
  }
}

.animate-expand2 {
  animation: expandWidth2 0.3s ease-out forwards;
}

.abc {
  background: linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 3px) calc(100% - 3px) no-repeat,
    linear-gradient(177deg, #d33479 0%, rgba(197, 52, 180, 1) 26%, rgba(115, 52, 199, 1) 75%, #7334d3 100%);
}




.ql-toolbar.ql-snow {
  border: none !important;
  border-bottom: 1px solid #6b7280 !important;
  background-color: #e5e7eb !important;
}

.ql-toolbar .ql-stroke {
  stroke: #6b7280 !important;
}

.ql-toolbar .ql-fill {
  fill: #6b7280 !important;
}

.ql-toolbar .ql-picker-label {
  color: #6b7280 !important;
}



.branch {
  position: relative;
  /* margin-top: 10px; */
}

.branch::before {
  content: '';
  position: absolute;
  top: -25px;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  width: 2px;
  height: calc(100% - 23px);
  background: var(--primary-color);
}

.child {
  position: relative;
  margin: 0px 0px;
  padding-left: 70px;
}

.child::before {
  content: '';
  position: absolute;
  top: -36%;
  left: 0;
  width: 22px;
  height: 40px;
  border-left: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  border-bottom-left-radius: 13px;
}

.customShadow {
  box-shadow: 0 2px 3px 1px rgba(130, 127, 127, 0.103);
}

.countdown-box {
  @apply text-textC rounded-md py-1 px-1.5 flex justify-center items-center text-[15px] font-semibold shadow-[inset_0_0px_4px_0_rgb(0_0_0_/_0.2)];
}

@property --angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes spinAngle {
  0% {
    --angle: 0deg;
  }

  100% {
    --angle: 360deg;
  }
}

.glowSpinBox {
  border-radius: 25px;
  border: 4px solid rgba(196, 196, 196, 0.358) !important;
  /* overflow: visible; */
}

.glowSpinBox::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 4px solid transparent;
  border-radius: 25px;
  filter: blur(20px);
  background: conic-gradient(from var(--angle) at 50% 50%,
      #a0cbff 0deg,
      #d1bdff 90deg,
      #f4c2ff 126deg,
      #ffb9a2 180deg,
      #f4c2ff 234deg,
      #d1bdff 270deg,
      #a0cbff 306deg);
  animation: spinAngle 4s linear infinite;
}

/* Force Tailwind to behave like >= md inside preview */
.preview-frame {
  /* Trick Tailwind by scaling up the preview */
  width: 1280px !important;
}

@media (max-width: 1280px) {
  .preview-frame {
    /* Force it to always act like it's on desktop */
    --tw-screen: 1280px;
  }

  .preview-frame * {
    /* Force it to always act like it's on desktop */
    --tw-screen: 1280px;
  }
}

.LaptopFrameLive {
  background-image: url("../Assets/Images/laptopFrameLive.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}

.MobileFrameLive {
  background-image: url("../Assets/Images/mobileFrameLive.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}

.DesktopFrameLive {
  background-image: url("../Assets/Images/desktopFrameLive2.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}


.backdropBlur {
  background-color: #fffffff1;
  backdrop-filter: blur(40px);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.rangeSlider::-webkit-slider-thumb {
  cursor: grab;
}


@keyframes popupMenuAnimation {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    --angle: 360deg;
  }
}


.dropdownShadow {
  box-shadow: 0rem .5rem 1.5rem -.5rem rgba(0, 0, 0, .28), 0rem .5rem 1rem -.25rem rgba(0, 0, 0, .05), 0rem .1875rem .375rem 0rem rgba(0, 0, 0, .05), 0rem .125rem .25rem 0rem rgba(0, 0, 0, .05), 0rem .0625rem .125rem 0rem rgba(0, 0, 0, .05), 0rem 0rem 0rem .0625rem rgba(0, 0, 0, .06);
}

.headerSlideIn {
  animation: headerSlideAnimationIn 0.3s ease-in-out forwards;
}

.headerSlideOut {
  animation: headerSlideAnimationOut 0.3s ease-in-out forwards;
}

@keyframes headerSlideAnimationIn {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes headerSlideAnimationOut {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.toastifyCustomClass {
  font-size: 12px;
  width: auto !important;
  max-width: 500px;
  min-width: 220px;

}

.toastifyCustomClass>div {
  border-radius: 10px !important;
  min-height: 48px !important;
  display: flex;
  align-items: center;

}

.toastifyCustomClass .Toastify__close-button {
  align-self: center !important;
  opacity: 1;
}

.toastifyCustomClass .Toastify__toast-icon {
  width: 18px;
}