.febric-category {
  padding: 30px 3rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--tmp-acc);
}

.img-wrap {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.img-two {
  width: 75%;
  height: 100%;
}

.img-two img {
  width: 100%;
  height: 100%;
}

.text-wrap {
  width: 50%;
  padding: 0px 30px;
}

.text-wrap h1 {
  font-weight: 700;
  margin: 20px 0;
}

.fabric-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 100px 4rem;
  background-color: var(--tmp-acc);
}

.fabric-container .fabric-text-wrap {
  width: 35%;
  padding: 20px;
  min-height: 300px;
  background-color:  var(--tmp-pri);
  position: absolute;
  left: -25%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 1px 16px -2px rgb(193 193 193 / 36%);
  -webkit-box-shadow: 0px 1px 16px -2px rgb(193 193 193 / 36%);
  -moz-box-shadow: 0px 1px 16px -2px rgb(193 193 193 / 36%);
}

.fabric-container .fabric-img {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.fabric-container .fabric-img img {
  width: 100%;
}

.fabric-cutting-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  background-color: var(--tmp-acc);
  padding: 50px 3rem;
}

.fabric-cutting-container .fabric-text-wrap {
  width: 75%;
  padding: 30px;
  height: auto;
  background-color:  var(--tmp-pri);
  position: absolute;
  left: -60%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 1px 66px -27px rgba(201, 201, 201, 0.75);
  -webkit-box-shadow: 0px 1px 66px -27px rgba(201, 201, 201, 0.75);
  -moz-box-shadow: 0px 1px 66px -27px rgba(201, 201, 201, 0.75);
}

.fabric-cutting-container .fabric-img {
  /* height: 100%; */
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.fabric-cutting-container .fabric-img img {
  width: 100%;
  max-height: 100vh;
}

.fabric-cutting-container h2 {
  margin: 5px 0px;
  font-weight: 700;
}

.fabric-cutting-container p {
  margin: 5px 0px;
  font-size: 18px;
}

@media (max-width: 800px) {
  .img-two {
    width: 100%;
  }

  /* .grid{
      column-gap:10px !important;
    } */
  .febric-category {
    flex-direction: column;
    padding: 30px 1rem;
  }

  .img-wrap {
    width: 100%;
  }

  .text-wrap {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-wrap h1 {
    text-align: center;
  }

  .text-wrap p {
    text-align: center;
  }

  .fabric-container {
    padding: 30px 1rem;
  }

  .fabric-container .fabric-img {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .fabric-container .fabric-text-wrap {
    width: 100%;
    background-color: unset;
    position: unset;
    text-align: center;
    min-height: unset;
    height: unset;
    padding: 20px 0px;
  }

  .fabric-cutting-container {
    padding: 30px 1rem;
  }

  .text-wrap p {
    font-size: 16px;
  }

  .fabric-cutting-container .fabric-text-wrap {
    padding: 30px 0px;
    width: 100%;
    background-color: unset;
    position: unset;
    text-align: center;
    min-height: unset;
    height: unset;
  }

  .fabric-cutting-container .fabric-img {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .fabric-cutting-container h2 {
    font-size: 25px !important;
  }

  .fabric-cutting-container p {
    font-size: 16px;
  }
}

