@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.Inputs:focus ~ label {
  font-size: 10px;
  top: 3px;
}

.dropDown {
  animation: move 0.1s ease-in-out;
}
.customScroll {
  overflow: auto;
}

.customScroll::-webkit-scrollbar {
  width: 12px;
}

.customScroll::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.customScroll::-webkit-scrollbar-thumb {
  background-color: #b7b7b7;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

.customScroll::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes move {
  0% {
    transform: translatey(20px);
    opacity: 0;
  }
  100% {
    transform: translatey(0);
    opacity: 1;
  }
}
