@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.Inputs:focus ~ label {
  font-size: 10px;
  top: 3px;
}

.dropDown {
  animation: move 0.1s ease-in-out;
}

@keyframes move {
  0% {
    transform: translatey(20px);
    opacity: 0;
  }
  100% {
    transform: translatey(0);
    opacity: 1;
  }
}
