.container {
    display: flex;
    justify-content: center;
    padding:40px 20px;
    background-color: white;
}

.productSection {
    display: flex;
    justify-content: center;
    gap: 2rem;
    max-width: 1200px;
}
.productImages{
    display: flex;
    gap: 10px;
    height:  400px;

}

.mainImage {
    width: 100%;
    height: auto;
}

.thumbnailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 105px;
    padding: 10px;
    box-shadow: inset 0px 0px 8px #dadada;

}

.thumbnail {
    width: 80px;
    height: 80px;
    object-fit: cover;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
    flex-shrink: 0;
}

@media (max-width:900px) {
    .thumbnailContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .thumbnail {
        width: 100%;
        height: auto;
    }
}

/* .thumbnail:hover {
    scale: 1.05;
    cursor: pointer;
    opacity: 0.9;
} */

.productDetails {
    flex: 1;
}

.brandName {
    font-size: 14px;
    color: var(--tmp-ltxt);
}

.productDetails h1 {
    font-size: 25px;
    margin: 10px 0;
}

.reviews p {
    margin-bottom: 10px;
    font-size: 16px;
    display: flex;
    gap: 8px;
    cursor: pointer;
}

.reviews p:hover {
    opacity: 0.8;
}

.reviews span {
    display: flex;
    gap: 3px;
    color: rgb(167, 167, 167);
    cursor: default;

}

.priceSection {
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin: 20px 0;
}

.strikeThrough {
    text-decoration: line-through;
    color: grey;
    font-size: 14px;
}

.discountedPrice {
    color: black;
    font-weight: bold;
}

.discountTag {
    background-color: #000000d0;
    color: white;
    padding: 4px 6px;
    font-size: 13px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
}

.InStock {
    color: green;
    margin: 10px 0;
}

.OutStock {
    color: red;
    margin: 10px 0;
}

.productDetail {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px 0;
}

.productDetail strong {
    font-size: 15px
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.addToCart,
.buyNow {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.addToCart {
    background-color: #f8f9fa;
}

.buyNow {
    background-color: #000;
    color: white;
}

.note {
    font-size: 0.85rem;
    color: grey;
    margin-top: 20px;
}

.deliveryInfo {
    margin-top: 10px;
    background-color: #e0f7fa;
    padding: 10px;
    color: #00796b;
}
.ProductCardContainer img{
    transition: .4s cubic-bezier(.25,.46,.45,.94);
}
.ProductCardContainer:hover img {
    scale: 1.04;
}

.starRatingContainer {
    display: flex;
    cursor: pointer;
  }
  
  .starEmpty {
    font-size: 20px;
    color: #4d4d4d;
  }
  
  .starFilled {
    font-size: 20px;
    color: #f5a700 !important;
  }
  
  .starRatingContainer span:hover,
  .starRatingContainer span:hover ~ span {
    color: #b3763aac;
  }
  