.ProductCardContainer img {
    transition: .4s cubic-bezier(.25, .46, .45, .94);
}

.ProductCardContainer:hover img {
    scale: 1.04;
}

.starRatingContainer {
    display: flex;
    cursor: pointer;
}

.starEmpty {
    font-size: 30px;
    color: #e5e7eb;
}

.starFilled {
    font-size: 30px;
    color: #f5bc00 !important;
}

.starRatingContainer span:hover,
.starRatingContainer span:hover~span {
    color: #d8d8d8;
}